[Desktop Entry]
Name=DexViewer
Exec=dexviewer
Icon=dexviewer
Type=Application
Categories=Utility;
Comment=A GTK-4 application for viewing Dexcom CGM data from the pydexcom API
Terminal=true